
*.vsidx
.vs/FrontierHackUTDEntry/DesignTimeBuild/.dtbcache.v2
.vs/FrontierHackUTDEntry/v17/.futdcache.v2
.vs/FrontierHackUTDEntry/v17/.suo
.vs/FrontierHackUTDEntry/v17/DocumentLayout.backup.json
.vs/FrontierHackUTDEntry/v17/DocumentLayout.json
.vs/ProjectEvaluation/frontierhackutdentry.metadata.v9.bin
.vs/ProjectEvaluation/frontierhackutdentry.projects.v9.bin
.vs/ProjectEvaluation/frontierhackutdentry.strings.v9.bin
FrontierHackUTDEntry/bin/Debug/net8.0/FrontierHackUTDEntry.dll
FrontierHackUTDEntry/bin/Debug/net8.0/FrontierHackUTDEntry.exe
FrontierHackUTDEntry/bin/Debug/net8.0/FrontierHackUTDEntry.pdb
FrontierHackUTDEntry/bin/Debug/net8.0/FrontierHackUTDEntry.staticwebassets.endpoints.json
FrontierHackUTDEntry/obj/Debug/net8.0/apphost.exe
FrontierHackUTDEntry/obj/Debug/net8.0/FrontierHackUTDEntry.AssemblyInfo.cs
FrontierHackUTDEntry/obj/Debug/net8.0/FrontierHackUTDEntry.AssemblyInfoInputs.cache
FrontierHackUTDEntry/obj/Debug/net8.0/FrontierHackUTDEntry.dll
FrontierHackUTDEntry/obj/Debug/net8.0/FrontierHackUTDEntry.pdb
FrontierHackUTDEntry/obj/Debug/net8.0/FrontierHackUTDEntry.sourcelink.json
FrontierHackUTDEntry/obj/Debug/net8.0/ref/FrontierHackUTDEntry.dll
FrontierHackUTDEntry/obj/Debug/net8.0/refint/FrontierHackUTDEntry.dll
FrontierHackUTDEntry/obj/Debug/net8.0/staticwebassets.build.endpoints.json
FrontierHackUTDEntry/obj/Debug/net8.0/staticwebassets.build.json
FrontierHackUTDEntry/obj/Debug/net8.0/staticwebassets/msbuild.FrontierHackUTDEntry.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
FrontierHackUTDEntry/obj/Debug/net8.0/staticwebassets/msbuild.FrontierHackUTDEntry.Microsoft.AspNetCore.StaticWebAssets.props
.vs/FrontierHackUTDEntry/v17/.suo
.vs/FrontierHackUTDEntry/v17/DocumentLayout.json
FrontierHackUTDEntry/bin/Debug/net8.0/FrontierHackUTDEntry.dll
FrontierHackUTDEntry/bin/Debug/net8.0/FrontierHackUTDEntry.exe
FrontierHackUTDEntry/bin/Debug/net8.0/FrontierHackUTDEntry.pdb
FrontierHackUTDEntry/bin/Debug/net8.0/FrontierHackUTDEntry.staticwebassets.endpoints.json
FrontierHackUTDEntry/obj/Debug/net8.0/apphost.exe
FrontierHackUTDEntry/obj/Debug/net8.0/FrontierHackUTDEntry.AssemblyInfo.cs
FrontierHackUTDEntry/obj/Debug/net8.0/FrontierHackUTDEntry.AssemblyInfoInputs.cache
FrontierHackUTDEntry/obj/Debug/net8.0/FrontierHackUTDEntry.dll
FrontierHackUTDEntry/obj/Debug/net8.0/FrontierHackUTDEntry.pdb
FrontierHackUTDEntry/obj/Debug/net8.0/FrontierHackUTDEntry.sourcelink.json
FrontierHackUTDEntry/obj/Debug/net8.0/ref/FrontierHackUTDEntry.dll
FrontierHackUTDEntry/obj/Debug/net8.0/refint/FrontierHackUTDEntry.dll
FrontierHackUTDEntry/obj/Debug/net8.0/staticwebassets.build.endpoints.json
FrontierHackUTDEntry/obj/Debug/net8.0/staticwebassets.build.json
FrontierHackUTDEntry/obj/Debug/net8.0/staticwebassets/msbuild.FrontierHackUTDEntry.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
FrontierHackUTDEntry/obj/Debug/net8.0/staticwebassets/msbuild.FrontierHackUTDEntry.Microsoft.AspNetCore.StaticWebAssets.props
.vs/FrontierHackUTDEntry/v17/.suo
.vs/FrontierHackUTDEntry/v17/DocumentLayout.json
.vs/ProjectEvaluation/frontierhackutdentry.metadata.v9.bin
.vs/ProjectEvaluation/frontierhackutdentry.projects.v9.bin
.vs/ProjectEvaluation/frontierhackutdentry.strings.v9.bin
FrontierHackUTDEntry/bin/Debug/net8.0/FrontierHackUTDEntry.dll
FrontierHackUTDEntry/bin/Debug/net8.0/FrontierHackUTDEntry.exe
FrontierHackUTDEntry/bin/Debug/net8.0/FrontierHackUTDEntry.pdb
FrontierHackUTDEntry/bin/Debug/net8.0/FrontierHackUTDEntry.staticwebassets.endpoints.json
FrontierHackUTDEntry/obj/Debug/net8.0/apphost.exe
FrontierHackUTDEntry/obj/Debug/net8.0/FrontierHackUTDEntry.AssemblyInfo.cs
FrontierHackUTDEntry/obj/Debug/net8.0/FrontierHackUTDEntry.AssemblyInfoInputs.cache
FrontierHackUTDEntry/obj/Debug/net8.0/FrontierHackUTDEntry.dll
FrontierHackUTDEntry/obj/Debug/net8.0/FrontierHackUTDEntry.pdb
FrontierHackUTDEntry/obj/Debug/net8.0/FrontierHackUTDEntry.sourcelink.json
FrontierHackUTDEntry/obj/Debug/net8.0/ref/FrontierHackUTDEntry.dll
FrontierHackUTDEntry/obj/Debug/net8.0/refint/FrontierHackUTDEntry.dll
FrontierHackUTDEntry/obj/Debug/net8.0/staticwebassets.build.endpoints.json
FrontierHackUTDEntry/obj/Debug/net8.0/staticwebassets.build.json
FrontierHackUTDEntry/obj/Debug/net8.0/staticwebassets/msbuild.FrontierHackUTDEntry.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
FrontierHackUTDEntry/obj/Debug/net8.0/staticwebassets/msbuild.FrontierHackUTDEntry.Microsoft.AspNetCore.StaticWebAssets.props
