@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4 text">Welcome to Frontier Support</h1>
    <h2 class="text">Please enter your Account ID to get started!</h2>
    <h3 class="text">Or start a conversation with our bot on the support page.</h3>
    <input class="account-id-box"type="text" />
</div>

<style>
    .text {
        font-family: 'Roboto', sans-serif;
    }
</style>
